NEXT_PUBLIC_SUPABASE_URL=https://nnkqlkttaaicdfeafgwc.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Nd0eU6X5jbBJonlLDLarvw_BvHFSR84

# Used by the app to gate /admin access (set to your Supabase auth user id)
ADMIN_USER_ID=b4a74e86-b7fa-418a-a3ea-42c704c6d795

